.vwrap{
  border: 1px solid black !important;
}

.v .vlist .vcard {
  border: 1px solid #ccc !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin-bottom: 20px !important;
  border-radius: 10px !important;
}
.v .vlist  .vquote .vcard{
  border: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  padding: 0px !important;
}
