.ImageGrid {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
}
.card {
  overflow: hidden;
  transition: .3s ease-in-out;
  border-radius: 8px;
  /*background-color: #ddd;*/
}
.ImageInCard img {
  padding: 0 0 0 0;
  border-radius: 8px;
  /*position: absolute;*/
}